<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h3>
        <a href="{{'/notes' | relative_url}}">Sammlung</a> von Notizen, Gedanken(-fetzen) und allgemein verschriftlichen Prozessen auf dem Weg in und durch die Cyberwelt.
        <br> 
        Nenn es Blog, Feed oder sonstwie.  
        <br>
        Vertextliche Gedankengänge, Erinnerungsstützen oder auch eine Art von Chronik oder Logbuch. Die Inhalte sind mal mehr, mal weniger ausformuliert oder zu Ende gedacht. 
        <br>
        Im Zweifel hat alles den Status "Work in Progress".  
        </h3> 
</div> </div>



<!-- Verlinkungen -->
<!--
        Check out the <a href="{{'/notes' | relative_url}}"> demo </a>, <a href="{{'/post/features' | relative_url}}"> features </a> and <a href="{{'/post/how-to' | relative_url}}"> how to</a>.
-->